
.footer{
  .level{
    flex-direction: column-reverse;
    display: flex;
    @include from($desktop) {    flex-direction: row;}
    .level-left, .level-right {
      margin-top: 1.5rem;
    }
  }
  .icon-links{
    text-align: right;
    a {
      width: 1.4rem;
      display: inline-block;
      margin: 1rem;

      svg {
       width: 100%;
       color: inherit;
       fill: currentColor;
      }

      &:hover svg{
        color: inherit;
        fill: currentColor;
      }
    }
  }
}

.certification{

  h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .column{
    text-align: center;
  }

  img {
    width: 90px;
    height: 90px;
    @include from($desktop) {
      width: 120px;
      height: 120px;
    }
  }
  
}
