#app{
  // .container{
  //   @include from($widescreen) {
  //     max-width: $desktop;
  //   }
  //   @include from($fullhd) {
  //     max-width: $widescreen;
  //   }
  // }
}

h1, h2, h3, h4, h5, h6 {
  color: $header;
  font-weight: 600;
  text-transform: capitalize;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.banner{
  text-align: center;
  img{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
  }
}
