
.page{

   h1{
     //color: $header;
     font-size: 2rem;
     margin-bottom: 2rem;
   }

   .post-image{
     margin-bottom: 2rem;
   }

   .page-content{
     max-width: 660px;
     margin: auto;
   }
}
