@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "~bulma/sass/utilities/initial-variables.sass";

$logo: #FAC110;
$shade-1: #F1B605;
$shade-2: #DFA805;
$shade-3: #CC9A04;
$yel: #FBE440;
$gold: #F6C510;
$hue: #FA6F0F;
$comp-light: #0F98FA;
$comp-dark: #230FFA;

$primary: $logo;
$link: #0F4AFA;
$info: $comp-light;
$success: $comp-dark;
$warning: $yellow;
$danger: $red;

$bg-light: #fcde82;

//$dark: $grey-darker;
//$text: $grey-dark;

// $dark: hsl(0, 0%, 14%);
// $light: $white-ter;

// $link-hover: $link;
// $link-visited: $link;

// $body-background-color: $dark;
// $body-color: #4B4E30;
// $body-weight:$weight-light;

$navbar-background-color: transparent;
$navbar-item-color: $grey-darker;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color:transparent;
$navbar-item-active-color:$link;
$navbar-item-active-background-color:transparent;

$footer-background-color:transparent;
$footer-padding: 3rem 1.5rem;
$control-radius: 0;

$content-heading-color: $primary;
$content-heading-weight: 600;


//$container-max-width:$widescreen;

// $footer-color: #3e3e3e;
// $footer-background-color: #f5f5f5

//@import "~bulma/sass/utilities/_all";
@import "~bulma/bulma.sass";

@import "./_layout.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_page.scss";
@import "./_util.scss";
